// Styling for the masthead
header.masthead {
    .intro-navigation {
        font-size: 1.2em;
        margin-top: 40px;
        a {
            text-decoration: none;
            border: 1px solid $theme-primary;
            padding: 10px;
            color: $theme-primary;
            &:hover {
                color: $theme-primary;
                background: rgba(0,0,0,0.5);
            }
            &:active {
                color: $theme-primary;
            }
        }
    }

    height: 80%;

    text-align: center;

    color: white;
    background: $theme-success;
    background-image: url(../img/craft.jpg);
    background-position: center;
    background-size: cover;
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 2em;
            font-weight: 700;
            display: block;
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }
    }
}

@media(min-width:768px) {
    header.masthead {
        padding-top: 18%;
        .intro-text {
            .name {
                font-size: 4em;
            }
            .skills {
                font-size: 1.5em;
            }
        }
    }
}
